<html>
<body>
<ul>
<h2>FACULTY NAME</h2>
<form method="post" action="/add">
<input style="width:300px" type="text" name="faculty" value='Dr.N.HemaPriya'><br><br>
<input type="submit" name="Save" value="Save"/>
</form><br><br>
<form method="post" action="/add">
<% for(var item of question){%>
<li><%= JSON.stringify(item.question)%></li>
<input type="radio" name="r1" value='1'>1
<input type="radio" name="r1" value='2'>2
<input type="radio" name="r1" value='3'>3
<input type="radio" name="r1" value='4'>4
<input type="radio" name="r1" value='5'>5
<input type="submit" name="Save" value="Save"/>
<%}%>
</form>
</ul><br><br>
<ul>

<!---
<br><br>
<h2>FACULTY NAME:Mrs.Priya</h2>
<% for(var item of question){%>
<li><%= JSON.stringify(item.question)%></li>
<input type="radio" name="r2"/>1
<input type="radio" name="r2"/>2
<input type="radio" name="r2"/>3
<input type="radio" name="r2"/>4
<input type="radio" name="r2"/>5
</form>
<%} %>
</ul>--->
</body>
</html>
